# Doodles

Exploring the Ordnance Survey *OpenNames* dataset.

In [ ]:
# Data downloaded from:
# https://osdatahub.os.uk/downloads/open/OpenNames
# Your use of OS OpenData is subject to the terms at http://os.uk/opendata/licence.
#
# The copyright acknowledgements to use for the attribution statement are:
#
# Contains OS data © Crown Copyright and database rights 2025.
#
# Contains Royal Mail data © Royal Mail copyright and database right 2025.
#
# Contains National Statistics data © Crown copyright and database right 2025

# Quick extract:
# grep "Isle of Wight" opname_csv_gb/Data/*.csv > IW_os_placenames.csv
# Includes false positives

# Better:
# grep "http://data.ordnancesurvey.co.uk/id/7000000000025469" opname_csv_gb/Data/*.csv > IW_os_placenames.csv

In [ ]:
# Load in data
import pandas as pd

df = pd.read_csv("IW_os_placenames.csv")

# Preview
df.head()

,ID,NAMES_URI,NAME1,NAME1_LANG,NAME2,NAME2_LANG,TYPE,LOCAL_TYPE,GEOMETRY_X,GEOMETRY_Y,...,COUNTY_UNITARY,COUNTY_UNITARY_URI,COUNTY_UNITARY_TYPE,REGION,REGION_URI,COUNTRY,COUNTRY_URI,RELATED_SPATIAL_OBJECT,SAME_AS_DBPEDIA,SAME_AS_GEONAMES
0,SU22.csv:osgb4000000074770417,http://data.ordnancesurvey.co.uk/id/4000000074...,Isle of Wight Hill,NaN,NaN,NaN,landform,Hill Or Mountain,424844,137337,...,Hampshire,http://data.ordnancesurvey.co.uk/id/7000000000...,http://data.ordnancesurvey.co.uk/ontology/admi...,South East,http://data.ordnancesurvey.co.uk/id/7000000000...,England,http://data.ordnancesurvey.co.uk/id/country/en...,NaN,NaN,NaN
1,SU86.csv:osgb4000000074808919,http://data.ordnancesurvey.co.uk/id/4000000074...,Isle of Wight Pond,NaN,NaN,NaN,hydrography,Inland Water,495262,172358,...,Windsor and Maidenhead,http://data.ordnancesurvey.co.uk/id/7000000000...,http://data.ordnancesurvey.co.uk/ontology/admi...,South East,http://data.ordnancesurvey.co.uk/id/7000000000...,England,http://data.ordnancesurvey.co.uk/id/country/en...,NaN,NaN,NaN
2,SZ06.csv:osgb4000000026226540,http://data.ordnancesurvey.co.uk/id/4000000026...,Isle of Wight Road,NaN,NaN,NaN,transportNetwork,Named Road,403311,77620,...,Dorset,http://data.ordnancesurvey.co.uk/id/7000000000...,http://data.ordnancesurvey.co.uk/ontology/admi...,South West,http://data.ordnancesurvey.co.uk/id/7000000000...,England,http://data.ordnancesurvey.co.uk/id/country/en...,NaN,NaN,NaN
3,SZ28.csv:osgb4000000074551734,http://data.ordnancesurvey.co.uk/id/4000000074...,Bouldnor,NaN,NaN,NaN,populatedPlace,Village,436404,89600,...,Isle of Wight,http://data.ordnancesurvey.co.uk/id/7000000000...,http://data.ordnancesurvey.co.uk/ontology/admi...,South East,http://data.ordnancesurvey.co.uk/id/7000000000...,England,http://data.ordnancesurvey.co.uk/id/country/en...,NaN,http://dbpedia.org/resource/Bouldnor,NaN
4,SZ28.csv:osgb4000000074551705,http://data.ordnancesurvey.co.uk/id/4000000074...,Freshwater,NaN,NaN,NaN,populatedPlace,Village,433576,87130,...,Isle of Wight,http://data.ordnancesurvey.co.uk/id/7000000000...,http://data.ordnancesurvey.co.uk/ontology/admi...,South East,http://data.ordnancesurvey.co.uk/id/7000000000...,England,http://data.ordnancesurvey.co.uk/id/country/en...,NaN,"http://dbpedia.org/resource/Freshwater,_Isle_o...",http://sws.geonames.org/2649069

In [ ]:
# Cleaning step - filter to IW locations
#
# # Use: COUNTY_UNITARY_URI
# http://data.ordnancesurvey.co.uk/id/7000000000025469
df = df[
    df["COUNTY_UNITARY_URI"] == "http://data.ordnancesurvey.co.uk/id/7000000000025469"
]

In [4]:
# What types of record are there?
df["TYPE"].unique(), df["LOCAL_TYPE"].unique()

(array(['populatedPlace', 'other', 'transportNetwork', 'landcover',
        'landform', 'hydrography'], dtype=object),
 array(['Village', 'Suburban Area', 'Hamlet', 'Town', 'Postcode',
        'Named Road', 'Section Of Named Road', 'Numbered Road',
        'Woodland Or Forest', 'Hill Or Mountain', 'Other Landcover',
        'Valley', 'Coastal Headland', 'Other Coastal Landform', 'Wetland',
        'Island', 'Cliff Or Slope', 'Bay', 'Harbour',
        'Medical Care Accommodation', 'Electricity Production',
        'Primary Education', 'Vehicular Ferry Terminal',
        'Section Of Numbered Road', 'Spot Height', 'Tidal Water',
        'Secondary Education', 'Special Needs Education',
        'Other Settlement', 'Inland Water', 'Other Landform', 'Channel',
        'Beach', 'Estuary', 'Sea', 'Railway', 'Passenger Ferry Terminal',
        'Non State Primary Education,Non State Secondary Education',
        'Railway Station', 'Bus Station', 'Airport', 'Further Education',
        'Hospice', 'Further Education,Secondary Education', 'Hospital',
        'Airfield'], dtype=object))

In [ ]:
df.groupby("TYPE")["LOCAL_TYPE"].value_counts()

TYPE              LOCAL_TYPE
hydrography       Bay                                                            31
                  Inland Water                                                    8
                  Tidal Water                                                     8
                  Estuary                                                         4
                  Channel                                                         3
                  Sea                                                             2
landcover         Woodland Or Forest                                            340
                  Other Landcover                                                69
                  Wetland                                                        20
                  Beach                                                          14
landform          Other Coastal Landform                                         45
                  Hill Or Mountain                                               36
                  Valley                                                         26
                  Cliff Or Slope                                                 22
                  Coastal Headland                                                6
                  Spot Height                                                     5
                  Island                                                          3
                  Other Landform                                                  2
other             Postcode                                                     5130
                  Primary Education                                              40
                  Electricity Production                                         13
                  Medical Care Accommodation                                     11
                  Secondary Education                                             7
                  Further Education                                               4
                  Special Needs Education                                         4
                  Non State Primary Education,Non State Secondary Education       2
                  Further Education,Secondary Education                           1
                  Hospice                                                         1
                  Hospital                                                        1
populatedPlace    Hamlet                                                         52
                  Suburban Area                                                  51
                  Village                                                        51
                  Town                                                            9
                  Other Settlement                                                5
transportNetwork  Named Road                                                   2351
                  Section Of Named Road                                         414
                  Numbered Road                                                  21
                  Section Of Numbered Road                                       19
                  Railway Station                                                10
                  Vehicular Ferry Terminal                                        5
                  Harbour                                                         4
                  Passenger Ferry Terminal                                        3
                  Bus Station                                                     2
                  Airfield                                                        1
                  Airport                                                         1
                  Railway                                                         1
Name: count, dtype: int64

In [ ]:
road_names = (
    df[df["LOCAL_TYPE"].isin(["Named Road", "Section Of Named Road"])]["NAME1"]
    .unique()
    .tolist()
)
road_names.sort()
len(road_names), road_names[:5]

(2033,
 ['Abbey Lane', 'Abbey Walk', 'Abbots Close', 'Abingdon Road', 'Acacia Close'])

In [ ]:
settlement_names = df[df["TYPE"] == "populatedPlace"]["NAME1"].unique()
settlement_names

array(['Bouldnor', 'Freshwater', 'Cranmore', 'School Green',
       'Thorley Street', 'Afton', 'Thorley', 'Wellow', 'Dunsbury',
       'Hulverstone', 'Norton', 'New Village', 'Shalcombe', 'Middleton',
       'Pound Green', 'Hamstead', 'Totland', 'Brook', 'Locksley',
       'Brookgreen', 'Colwell', 'Freshwater Bay', 'Norton Green',
       'Easton', 'Yarmouth', 'The Orchard', 'Pyle', 'Bonchurch',
       'Ventnor', 'Chale', 'Niton', 'Blackgang', 'Nettlecombe',
       'Atherfield Green', 'Lowtherville', 'Whitwell', 'St Lawrence',
       'Upper Bonchurch', 'Luccombe Village', 'Chale Green', 'Wroxall',
       'Bierley', 'Steephill', 'Cowlease', 'Southford', 'Weeks',
       'Bowcombe', 'Little Whitehouse', 'Plaish', 'Fairlee', 'Littletown',
       'Rew Street', 'Roslin', "Mark's Corner", 'Alverstone',
       'Porchfield', 'Marsh Green', 'Hunny Hill', 'Wootton Common',
       'Gurnard', 'Whiteley Bank', 'Winford', 'Ningwood', 'East Cowes',
       'Branstone', 'Northwood', 'Carisbrooke', 'Shorwell', 'Swanmore',
       "Skinner's Hill", 'Blackwater', 'Alverstone Garden Village',
       'Newbridge', 'Camp Hill', 'Shide', 'Pelhamfield', 'Binstead',
       'Horringford', 'Pallancegate', 'Newport', 'Upton', 'Fishbourne',
       'Roud', 'Bathingbourne', 'Wootton', 'Arreton', 'Adgestone',
       'Chillerton', 'Gatcombe', 'Yafford', 'Hillgrove', 'Ashengrove',
       'Clatterford', 'Cridmore', 'Winford Cross', 'Old Village',
       'Moortown', 'Whippingham', 'Great Thorness', 'Lower Rill',
       'Brookside', 'Limerstone', 'Ryde', 'Pan', 'Little Atherfield',
       'Downend', 'Knighton', 'Wootton Bridge', 'Thorncross',
       'Chilton Green', 'Apse Heath', 'Gunville', 'Lower Hamstead',
       'Rookley Green', 'Parkhurst', 'Haylands', 'Merstone', 'Rookley',
       'Upper Hyde', 'Rock', 'Mottistone', 'Lower Hyde', 'Newtown',
       'Langbridge', 'Oakfield', 'Barton', "Queen's Bower",
       'Kingston Copse', 'Havenstreet', 'Noke Common', 'Locksgreen',
       'Little London', 'Forest Side', 'Newchurch', 'Cowes', 'Shalfleet',
       'Brighstone', 'Calbourne', 'Five Houses', 'Woodside', 'Ninham',
       'Shanklin', 'Staplers', 'Kingston', 'Ashey', 'Calving Close Copse',
       'Hale Common', 'Sandford', 'Godshill', 'Princelett', 'Fernhill',
       'Lake', 'Pondwell', 'Elmfield', 'Sandown', 'Hillway', 'Bembridge',
       'St Helens', 'Nettlestone', 'Seaview', 'Spring Vale',
       "St John's Park", 'Yaverland', 'Appley', 'Carpenters', 'Brading',
       'Yarbridge', 'Morton'], dtype=object)

In [ ]:
# Road names related to populated place - quick hack
road_names_place_first = []
for r in road_names:
    road_names_place_first.extend(
        [
            (r, s)
            for s in settlement_names
            if s.split()[0] == r.split()[0]
            and r.split()[0]
            not in [
                "St",
                "The",
                "Upper",
                "Little",
                "Lower",
                "Upper",
                "North",
                "South",
                "East",
                "West",
                "Old",
            ]
        ]
    )

road_names_place_first = list(set(road_names_place_first))
road_names_place_first.sort()
road_names_place_first[:10]  # preview first 10

[('Afton Road', 'Afton'),
 ('Alverstone Road', 'Alverstone'),
 ('Alverstone Road', 'Alverstone Garden Village'),
 ('Alverstone Shute', 'Alverstone'),
 ('Alverstone Shute', 'Alverstone Garden Village'),
 ('Appley Lane', 'Appley'),
 ('Appley Rise', 'Appley'),
 ('Appley Road', 'Appley'),
 ('Appley Steps', 'Appley'),
 ('Appley Walk', 'Appley')]

In [23]:
import itertools

road_names_place_first_dict = {}
for road, area in road_names_place_first:
    if area not in road_names_place_first_dict:
        road_names_place_first_dict[area] = []
    road_names_place_first_dict[area].append(road)

dict(itertools.islice(road_names_place_first_dict.items(), 5))

{'Afton': ['Afton Road'],
 'Alverstone': ['Alverstone Road', 'Alverstone Shute'],
 'Alverstone Garden Village': ['Alverstone Road', 'Alverstone Shute'],
 'Appley': ['Appley Lane',
  'Appley Rise',
  'Appley Road',
  'Appley Steps',
  'Appley Walk'],
 'Apse Heath': ['Apse Manor Road']}